.App {
}

.App-logo {
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  }
}

.App-header {
}

.App-link {
}

:root {
  --color-brand-primary: #103097;
  --color-brand-secondary: #00d2ae;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
