@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: "Kometa";
  src: url("./assets/fonts/kometa.otf");
}
.App {
}

.App-logo {
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  }
}

.App-header {
}

.App-link {
}

:root {
  --color-backGround-light: #f4f5fa;
  --color-brand-primary: #103097;
  --color-brand-secondary: #00d2ae;
  --color-font-primary: #233299;
  --color-font-secondary: #f6f7fc;
  --color-font-light: rgba(9, 12, 65, 0.45);
  --color-font-normal: #202332;
  --color-font-dark: #000;
  --color-border-black: #090c41;
  --color-backGround-section: #f9f9f9;
  --color-error-message: #d02b3d;
  --color-success-message: #0cc1a5;
  --color-warning-message: #f9b449;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  box-sizing: border-box;
  font-family: "Lato", "Kometa", "Manrope";
}
